node_modules
.pnp
.pnp.js

dist
dist-ssr
build
out
*.local

.env
.env.*
!.env.example
!.env*.example

logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

pids
*.pid
*.seed
*.pid.lock

coverage
*.lcov
.nyc_output

jspm_packages/

*.tsbuildinfo
.tsbuildinfo

.npm

.eslintcache

.stylelintcache

.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

.node_repl_history

*.tgz

.yarn-integrity

.cache
.parcel-cache

.next
out

.nuxt

.vite
vite.config.*.timestamp-*

.rollup.cache

.turbo

.pnpm-store
.pnpm-debug.log

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Desktop.ini

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
*.swp
*.swo
*~
.project
.classpath
.settings/
*.sublime-project
*.sublime-workspace

*.tmp
*.temp
.cache
temp
tmp

/generated/prisma
prisma/generated
